html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 4rem 1rem;
}

.login-card {
	padding: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	gap: 2px;
}

.link-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: min-content;
	margin: 0;
}

.link {
	color: blue;
	font-size: small;
	text-align: left;
}
